tr, td {
    border: 1px solid black;
}

table {
    margin-left: 80px;
    margin-right: 80px;
}

a:link, a:hover, a:visited {
    text-decoration: none;
    color: white;
}

.form-control {
    width: 50%;
}


.sidebar {
    height: 100%;
    width: 150px;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 40px;
    background-color: lightblue;
}

.menu {
    color: white;
    width: 15%;
    height: 100%;
    float: left;
}